<app-template>
  <div class="sale-report">
    <div class="panel-container">
      <div class="header-container">
        <p-fieldset legend="Relatório por Vendas">
          <div class="grid">
            <div class="col-6">
              <div class="col-6">
                <label>Produto</label>
              </div>
              <p-autoComplete
                (completeMethod)="productsSearch($event)" (onSelect)="onSelectProduct($event)"
                [(ngModel)]="productSelected" [forceSelection]="true" [suggestions]="productFiltereds"
                class="autoComplete"
                field="name" placeholder="Selecione o produto">
              </p-autoComplete>
              <div class="col-6">
                <label>Cliente</label>
              </div>
              <p-autoComplete (completeMethod)="personsSearch($event)" (onSelect)="onSelectPerson($event)"
                              [(ngModel)]="personSelected" [forceSelection]="true" [suggestions]="personFiltereds"
                              class="autoComplete"
                              field="name" placeholder="Selecione o cliente">
              </p-autoComplete>
            </div>
            <div class="col-2">
              <div class="col-6">
                <label>Data Inicial</label>
              </div>
              <p-inputMask [(ngModel)]="saleReport.startDate" mask="99/99/9999"></p-inputMask>
              <div class="col-6">
                <label>Data Final</label>
              </div>
              <p-inputMask [(ngModel)]="saleReport.endDate" mask="99/99/9999"></p-inputMask>
            </div>
            <div class="col-2">
              <div class="col-6">
                <label>Valor Inicial</label>
              </div>
              <p-inputNumber
                [(ngModel)]="saleReport.startValue"
                [inputStyle]="{'text-align': 'right'}"
                currency="BRL"
                locale="pt-BR" mode="currency"></p-inputNumber>
              <div class="col-6">
                <label>Valor Final</label>
              </div>
              <p-inputNumber
                [(ngModel)]="saleReport.endValue"
                [inputStyle]="{'text-align': 'right'}"
                currency="BRL"
                locale="pt-BR" mode="currency"></p-inputNumber>
            </div>
          </div>
          <div class="button-container">
            <p-button
              (click)="reportBuilder()"
              icon="pi pi-print"
              iconPos="left"
              label="Imprimir"
              styleClass="button"
            ></p-button>
            <p-button
              (click)="limpar()"
              icon="pi pi-refresh"
              iconPos="left"
              label="Limpar"
              styleClass="button"
            ></p-button>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</app-template>
